{
	defaultApp: "desktop",
	loginApp: "login",
	apps: [{
			id: "login",
			name: "Login",
			desc: "Login and Registration App",
			secured: false,
			list: false
		},{
			id: "datasets",
			name: "datasets",
			desc: "",
			secured: false,
			list:   false
		},{
			id: "data",
			name: "data",
			desc: "",
			secured: false,
			list:   false
		},{
			id: "enscript",
			name: "EnScript",
			desc: "",
			secured: false,
			list:   false
		},{
			id: "data",
			name: "data",
			desc: "",
			secured: false,
			list:   false
		},{
			id: "samples",
			name: "samples",
			desc: "",
			secured: false,
			list:   false
    }]
}
